[flake8]
; ignoring the checks:
;   E122 (continuation line missing indentation or outdented),
;   E126 (continuation line over-indented for hanging indent),
;   E131 (continuation line unaligned for hanging indent) as indentation is responsibility of yapf
;   F401 (module imported but unused) in favor of corresponding pylint check
select = E,F,W,C,S
ignore = E122,E126,E131,F401
max-line-length = 120
