*.egg-info/
*.pyc
*.swp
.cache
.coverage*
.editorconfig
.hypothesis/
.idea
.mypy_cache/
.pytest_cache/
.session_conf.sav
.tox/
debian/ch-backup*
debian/changelog
debian/files
htmlcov/
local_configuration.py
staging/
venv/
