*.egg-info/
*.pyc
*.swp
.cache
.coverage*
.editorconfig
.hypothesis/
.idea
.install-deps
.mypy_cache/
.poetry/
.pytest_cache/
.python-version
.session_conf.sav
.tox/
.venv/
.vscode
ch_backup/version.txt
debian/ch-backup*
debian/changelog
debian/files
htmlcov/
staging/
venv/

# MacOS specific
.DS_Store
