isort
yapf
flake8
flake8-string-format
flake8-commas
flake8-quotes
flake8-print
pep8
pylint
mypy==0.910
types-PyYAML
types-dataclasses==0.6.6
types-requests<2.27
types-setuptools
types-tabulate
bandit
pytest
PyHamcrest==2.0.0
hypothesis
behave
docker
docker-compose<1.28
Jinja2
deepdiff
mypy-boto3-s3==1.21.7  # This is the last version that requires typing-extensions<4.0.0
