isort;              python_version >="3.8"
black;              python_version >="3.8"
ruff;               python_version >="3.8"
pylint<4.0;         python_version >="3.8"
mypy==1.11.2;        python_version >="3.8"
mypy-boto3-s3;      python_version >="3.8"
types-PyYAML;       python_version >="3.8"
types-dataclasses;  python_version >="3.8"
types-requests;     python_version >="3.8"
types-setuptools;   python_version >="3.8"
types-tabulate;     python_version >="3.8"
bandit;             python_version >="3.8"
codespell;          python_version >="3.8"
pytest
PyHamcrest
hypothesis
behave
docker<8.0
docker-compose<1.29
websocket-client<2.0  # required for docker-compose<1.29
Jinja2
deepdiff<7.1.0
