isort
black
ruff
pylint<4.0
mypy==1.9.0
mypy-boto3-s3
types-PyYAML
types-dataclasses
types-requests
types-tabulate
bandit
codespell
pytest
PyHamcrest
hypothesis
behave
docker<8.0
docker-compose<1.29
websocket-client<2.0  # required for docker-compose<1.29
Jinja2
deepdiff<7.1.0
