isort
black
ruff
pylint<4.0
mypy==1.9.0
mypy-boto3-s3
types-PyYAML
types-dataclasses
types-requests
types-tabulate
bandit
codespell
pytest
PyHamcrest
hypothesis
behave
docker>=4.0,<8.0; python_version <"3.13"  # upper bound is for compatibility with "docker-compose"
docker>=4.0; python_version >="3.13"
docker-compose<1.29; python_version <"3.13"  # docker compose v1 (python implementation) is deprecated and not compatible with python versions >= 3.13
websocket-client<2.0; python_version <"3.13"  # required for "docker-compose<1.29"
Jinja2
deepdiff<7.1.0
