isort
yapf
flake8
flake8-string-format
flake8-commas
flake8-quotes
flake8-print
pep8
pylint
mypy==0.910
types-PyYAML
types-requests<2.27
types-setuptools
types-tabulate
bandit
pytest
PyHamcrest==2.0.0
hypothesis
behave
docker
docker-compose<1.28
Jinja2
deepdiff
tox
