Source: ch-backup
Section: unknown
Priority: optional
Maintainer: DBaaS team <mdb-admin@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/mdb/ch-backup
#Vcs-Git: git://github.yandex-team.ru:mdb/ch-backup.git
#Vcs-Browser: https://github.yandex-team.ru/mdb/ch-backup

Package: ch-backup
Architecture: any
Depends: python3.5
Description: DBaaS ClickHouse backup tool
