#!/usr/bin/make -f
# -*- makefile -*-

PYTHON_MAJOR := $(shell python3 -c 'import sys; print(sys.version_info[0])')
PYTHON_MINOR := $(shell python3 -c 'import sys; print(sys.version_info[1])')

PYTHON_FROM := $(PYTHON_MAJOR).$(PYTHON_MINOR)
PYTHON_TO := $(PYTHON_MAJOR).$(shell echo $$(( $(PYTHON_MINOR) + 1 )))

# Use conditional python3 dependency because package for Bionic requires python3.6,
# but package for Jammy requires python3.10.
# All this is due to the fact that we put the entire virtual environment in a deb package
# and that venv links to the system python
SUBSTVARS := -Vpython:Depends="python3 (>= $(PYTHON_FROM)), python3 (<< $(PYTHON_TO))"

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

override_dh_auto_clean:

override_dh_strip:

override_dh_shlibdeps:

override_dh_auto_test:
